<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.talent_trading_market_kt">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".retrofit.App"
        android:allowBackup="true"
        android:icon="@drawable/cloverlogo3"
        android:label="Clover"
        android:supportsRtl="true"
        android:theme="@style/Theme.Talenttradingmarketkt"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".tradingfunction.trading_history.TradingHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".boardfunction.mainmenu.hottrade.HotTradeOneBoardActivity"
            android:exported="false" />
        <activity
            android:name=".payfunction.PayMentActivity"
            android:exported="false" />
        <activity
            android:name=".pointfunction.point_history.MyPointActivity"
            android:exported="false" />
        <activity
            android:name=".pointfunction.charge_point.ChargePointActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".boardfunction.postsearch.SearchOneBoardActivity"
            android:exported="false" />
        <activity
            android:name=".boardfunction.postsearch.SearchBoardActivity"
            android:exported="false" />
        <activity
            android:name=".boardfunction.mypage.myboardfunction.MyOneBoardActivity"
            android:exported="false" />
        <activity
            android:name=".boardfunction.mypage.myboardfunction.ReadMyBoardActivity"
            android:exported="false" />
        <activity
            android:name=".boardfunction.board_page.makeboard_page.MakeBoardActivity"
            android:exported="false" />
        <activity
            android:name=".boardfunction.board_page.board_page_main.BoardMainActivity"
            android:exported="false" />
        <activity
            android:name=".memberfunction.login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".memberfunction.register.RegisterMember" />
    </application>

</manifest>